<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GOGO_Task.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GOGO_Task.My.MySettings>
            <setting name="BKcolor" serializeAs="String">
                <value />
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value />
            </setting>
            <setting name="networksave" serializeAs="String">
                <value>K:\Quality\GOGO_Task.txt</value>
            </setting>
            <setting name="WarnTime" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="SoundFile" serializeAs="String">
                <value>C:\Users\kevin\Desktop\Ring01.wav</value>
            </setting>
            <setting name="SoundCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToolTipMsgStop" serializeAs="String">
                <value>Do not forget to add a stop time!</value>
            </setting>
            <setting name="Dropdownreason" serializeAs="String">
                <value>K:\Quality\Drop.txt</value>
            </setting>
            <setting name="ToolTipMsgStart" serializeAs="String">
                <value>Did you forgot to start?</value>
            </setting>
        </GOGO_Task.My.MySettings>
    </userSettings>
</configuration>